body {
    font-size: 14px;
}

@media(min-width:768px) {
    body {
        font-size: 16px;
    }
}

@media(min-width:992px) {
    body {
        font-size: 16px;
    }
}

@media(min-width:1200px) {
    body {
        font-size: 17px;
    }
}

@font-face {
    font-family: latam_italic_light;
    src: url(../fonts/latam_sans_light_italic-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: latam_sans_regular;
    src: url(../fonts/latam_sans_regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

img {
    margin-top: 50px;
    margin-left: 10px;
    max-width: 120px;
}

img:hover {
    max-width: 120px;
    margin-left: 5px;
}

.form_register {
    box-shadow: 2px 2px 3px 1px rgb(241, 238, 238);
    width: 473px;
    height: 642px;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    border: 2px solid rgb(238, 227, 227);
}

.form_register h1 {
    font-family: latam_italic_light;
    color: rgb(2, 2, 128);
    font-size: 39px;
    border-top: 0cm;
}

.form_register .socio {
    font-family: latam_sans_regular;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.form_register .recuperar {
    font-family: latam_sans_regular;
    color: blue;
    font-size: medium;
    text-align: right;
}

.form_register .data {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(34, 34, 34);
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-family: latam_sans_regular;
    font-size: medium;
}

.form_register a {
    color: blue;
    font-size: medium;
}

.form_register a:hover {
    color: rgb(17, 0, 112);
    text-decoration: none;
    font-size: medium;
}

.login {
    width: 100%;
    height: 50px;
    background-color: rgb(226, 0, 68);
    color: white;
    border-radius: 5px;
    padding: 8px;
    border-color: rgb(226, 0, 68);
    margin-top: 20px;
    font-size: medium;
    font-family: latam_sans_regular;
}

.registrar {
    font-family: latam_sans_regular;
    text-align: center;
    color: black;
}

.registrar a {
    color: blue;
}

body {
    position: static;
    background-position: 1px 15px;
    background-image: url(https://s.latamairlines.com/images/auth0/login/background.svg);
}

a:hover {
    color: rgb(17, 0, 112);
    text-decoration: none;
    font-size: medium;
}

.input_group i {
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    color: gray
}

.captcha {
    width: 250px;
    height: 60px;
    border: 2px solid rgb(209, 207, 207);
}

.fieldset {
    margin-left: 75px;
    border-radius: 10px;
}

.captcha1 {
    width: 100px;
    height: 40px;
    border: 2px solid rgb(209, 207, 207);
}

.data:hover {
    border-color: rgb(17, 0, 112);
}

.data:focus {
    border: 3px solid rgb(17, 0, 112);
    outline-color: rgb(27, 0, 136);
}

.data:checked {
    border: 3px solid rgb(17, 0, 112);
}

.login:hover {
    background-color: rgb(221, 30, 87);
    ;
}