/*
To do: 
- Add the animation to the inputs
- Fix the color and weight of the input placeholders
- Finish the rest of the page
*/
*{
    margin: 0;
    
}
@font-face {
    font-family: "LATAM Sans Bold";
    src: url(../fonts/latam_sans_bold-webfont.woff) format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: "LATAM Sans Italic";
    src: url(../fonts/latam_sans_light_italic-webfont.woff) format('woff');
    font-weight: light;
    font-style: italic;
  }
  @font-face {
    font-family: "LATAM Sans Light";
    src: url(../fonts/latam_sans_light-webfont.woff) format('woff');
    font-weight: light;
  }
  @font-face {
    font-family: "LATAM Sans Regular Italic";
    src: url(../fonts/latam_sans_regular_italic-webfont.woff) format('woff');
    font-style: italic;
  }
  @font-face {
    font-family: "LATAM Sans Regular";
    src: url(../fonts/latam_sans_regular-webfont.woff) format('woff');
  }
/*
->>>>> Start of Header styles
    Problems -> Header seems a little different from the original latam header, trying to fix it.
*/
.header{   /*Principal div*/
    display: flex;
    min-height: 3rem;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(16, 0, 79);
    width: 100% !important;
    min-height: 4rem;
}
.header-div{    /*Div where the items(icon and button) are placed*/
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    max-width: 89rem;
    justify-content: space-between;
    padding: 0px 1rem;
    color: rgb(255, 255, 255);
}
.latam-a{               /*Container of the icon*/
    margin:0; 
    min-height: 0.75rem;  
}
.latam-icon{            /*Icon itself*/
    width: 100px;
    margin-left: 0px;
}
.latam-btn-div{         /*Button container*/
    display: flex;
    flex-direction: row;
}
.latam-login-btn{       /*Button itself*/
    outline: none;
    display: flex;
    cursor: pointer;
    text-align: left;
    position: relative;
    white-space: nowrap;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 3.125rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0px 0.8rem;
    min-height: 2rem;
    margin-left: 0px 0px 0px 1rem;
    border: 0.0625rem solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
}
/*
->>>>> Start of main styles
    Problems -> 
*/
.main{
    width: 100%;
    margin: 0px auto;
}
.section{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    
}
/*
display: flex;
flex-direction: column;
-webkit-box-align: stretch;
align-items: stretch;
gap: 0px !important;
grid-template-columns: repeat(12, 1fr);
padding: 1rem;
max-width: calc(33.3333% - 0.66667rem);
*/


.section-div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 2.4rem;
}
.title h1{
    font-size: 24px;
    margin: 30px 0px 16px;
    font-weight: 300;
    color: rgb(27, 0, 136);
    font-family: 'LATAM Sans Italic' , 'Sans';
}

.title-text{
    font-family: 'LATAM Sans Regular', 'Sans';
    font-size: 16px;
    text-align:left;
    display: block;
}
.title-text p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(92, 92, 92);
    margin-bottom: 0.4rem;
}

.personal-data h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(27, 0, 136);
    font-family: 'LATAM Sans Regular', 'Sans';
}
.latam-form-p{
    margin-top: 1rem;
    font-family: 'LATAM Sans Regular', 'Sans';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(92, 92, 92);
    margin-bottom: 0.4rem;
}
/*
->>> inputs styles
*/
.input-field {
    font-family: 'LATAM Sans Light', 'Sans';
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 1.75rem;
  }
  .input-field select:focus {
    border-style: inset;
    outline-color: rgb(27, 0, 136);
}
.input-field label {
    font-size: 12px;
    color: #5C5C5C;
    margin-left: -10px;
    z-index:2
}
.input-field label .label-style {
    background: #FFF;
    font-weight: bold;
    padding: 0px 7px;
}
.input-field select {
    font-family: 'LATAM Sans Light', 'Sans';
    font-size: 16px;
    height: 3.2rem;
    margin-top: -10px;
    padding: 10px 20px;
    border-radius: 10px; 
    /* Added the dropdown svg*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c7/Antu-go-down-24.svg');
    background-repeat: no-repeat, repeat; 
    background-position: right .7em top 50%, 0 0;
    background-size: 1.3em auto, 100%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.input-field input {
    font-family: 'LATAM Sans Light', 'Sans';
    color: #5C5C5C;
    font-size: 16px;
    height: 1.75rem;    
    padding: 10px 20px;
    border: solid 1px grey;
    border-radius: 10px; 
}
.input-field input:focus {
    border-style: inset;
    outline-color: rgb(27, 0, 136);
}
.input-field span{
    font-size: 13px;
    margin: 4px 16px 0px;
}
.hidden{
    display:none;
}


/*
<<<<<-- End of inputs styles
*/
/*
<<<<<<<<--- End of main styles
*/


@media (min-width: 920px) { 
    .latam-a{               /*Container of the icon*/
        margin:0; 
        min-height: 0.75rem;  
    }
    .latam-icon{            /*Icon itself*/
        width: 100px;
        margin-left: 0px;
    }
    .latam-btn-div{         /*Button container*/
        display: flex;
        flex-direction: row;
    }
    .latam-login-btn{       /*Button itself*/
        outline: none;
        display: flex;
        cursor: pointer;
        text-align: left;
        position: relative;
        white-space: nowrap;
        align-items: center;
        color: rgb(255, 255, 255);
        border-radius: 3.125rem;
        font-size: 1rem;
        font-weight: 700;
        padding: 0px 0.8rem;
        min-height: 2rem;
        margin-left: 0px 0px 0px 1rem;
        border: 0.0625rem solid transparent;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .section-div{
        display: flex;
        flex-direction: column;
        -webkit-box-align: stretch;
        align-items: stretch;
        gap: 0px !important;
        grid-template-columns: repeat(12, 1fr);
        padding: 1rem;
        max-width: calc(33.3333% - 0.66667rem);
    }
    .title h1{
        font-size: 32px;
        margin: 30px 0px 16px;
        font-weight: 300;
        color: rgb(27, 0, 136);
        font-family: 'LATAM Sans Italic' , 'Sans';
    }

 }